@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');


@mixin card-content {
    padding: 1.5rem .5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2dfc0;
    background-color: transparent;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    background-color: #5497E5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    width: 25rem;
    height: 40rem;
    font-size: 1.5rem;
    font-weight: 600;
    animation: sideInUp 2s ease 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //glass
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    transition: transform .4s;

    &-country {
        width: 100%;
    }

    &-confirmed {

        @include card-content;
    }

    &-recovered {
        @include card-content;
    }

    &-death {
        @include card-content;
    }



    &:hover {
        transform: scale(1.2);
    }
}

.number {
    &-confirmed {

        margin-left: 1.4rem;
    }

    &-recovered {
        margin-left: 1.4rem;
    }

    &-death {
        margin-left: 1.4rem;
    }

    &-mortal {
        margin-left: 1.4rem;
    }
}

.info {
    margin-top: .6rem;
    width: 10rem;
    display: flex;
}

.flag {
    width: 100%;
}

.card-MortalityRate .info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: .5rem;
    padding-bottom: 2rem;

}

@keyframes sideInUp {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}