@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');


@mixin rate {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: .2rem;

}

@mixin card-content {
    padding: 1.5rem .5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2b2b2bc0;
    background-color: transparent;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    background: rgb(235, 238, 51);
    background: linear-gradient(90deg, rgba(235, 238, 51, 0.919502835313813) 0%, rgba(106, 219, 242, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card {
    margin-top: 2rem;
    opacity: 0;
    width: 25rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    //glass
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    transition: opacity .4s, transform .6s;
    user-select: none;


    &-confirmed {
        @include card-content;
    }

    &-recovered {
        @include card-content;
    }

    &-death {
        @include card-content;
    }

    &-vaccin {
        @include card-content;
    }

    &-MortalityRate {
        @include card-content;
    }



    &:hover {
        transform: scale(1.2);
    }
}



.country-flag {
    width: 15vw;
    opacity: 0;
    transition: opacity .5s;
}


.number {
    &-confirmed {

        margin-left: 1.4rem;
    }

    &-recovered {
        margin-left: 1.4rem;
    }

    &-death {
        margin-left: 1.4rem;
    }

    &-vaccin {
        margin-left: 1.4rem;
    }

    &-mortal {
        margin-left: 1.4rem;
    }

    &-vaccin-rate {
        margin-left: 1.4rem;
    }

}

.info {
    margin-top: .6rem;
    width: 10rem;
    display: flex;
}

.flag {
    width: 100%;
}

.card-MortalityRate .info {
    @include rate();
}

.card-vaccinRate .info {
    @include rate();
    padding: 1.2rem 0 2rem .4rem;
}



.load {
    width: 12.8rem;
    animation: left-right 1s infinite alternate;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn-back {
    margin-top: 7rem;
    font-family: inherit;
    font-size: 2rem;
    text-decoration: none;
    background-color: #4d5063;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: .8rem;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(.99);
    }
}

.icon {
    width: 3.2rem;
}




@keyframes left-right {
    0% {
        transform: translateX(-4rem);
    }

    100% {
        transform: translateX(4rem);
    }

}

@keyframes sideInUp {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}